.contenido1{
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    margin-top: 100px;
}
.test{
    background-color: #030354;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contenidoEstudiantes{
    background-color: #030354;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.formDataEstudiantes{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    color: blue;
}

.btndj{
    border-radius: 20px !important;
}


/*soy un comentario*/