{% extends "index.html" %}

{% load static %}

{% block contenido %}
<form action="/AppProyectoFinal/create_blogs/" method="POST" enctype="multipart/form-data"> {% csrf_token %}
    <input type="text" name="titulo" placeholder="Title">
    <input type="text" name="subtitulo" placeholder="Subtitle">
    <input type="text" name="cuerpo" placeholder="Body">
    <input type="text" name="autor" placeholder="Author" value="{{user.username}}" readonly>
    <input type="date" name="fecha" placeholder="fecha">
    #upload image to the server
    <input type="file" name="imagen" placeholder="imagen">
    <input type="submit" value="Create">
</form>
{% endblock %}