{% extends "index.html" %}

{% load static %}

{% block contenido %}
<form class ="form-control" action="/AppProyectoFinal/create_blogs/" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="form-group row">
        <label for="titulo" class="col-sm-2 col-form-label">Titulo</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="titulo" placeholder="Titulo">
        </div>
      </div>
    <div class="form-group row">
        <label for="subtitulo" class="col-sm-2 col-form-label">Subtitulo</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" name="subtitulo" placeholder="subtitulo">
      </div>
    </div>
    <div class="form-group row">
        <label for="contenido" class="col-sm-2 col-form-label">Contenido</label>
        <div class="col-sm-10">
        <textarea class="form-control" name="cuerpo" rows="3"></textarea>
      </div>
    </div>
    <div class="form-group row">
        <label for="autor" class="col-sm-2 col-form-label">Autor</label>
        <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" name="autor" placeholder="Autor" value="{{user.username}}" readonly>
      </div>        
    </div>
    <div class="form-group row">
        <label for="imagen" class="col-sm-2 col-form-label">Fecha</label>
        <div class="col-sm-10">
        <input type="date" class="form-control-date" name="fecha">
      </div>
    <div class="form-group row">
        <label for="imagen" class="col-sm-2 col-form-label">Imagen</label>
        <div class="col-sm-10">
        <input type="file" class="form-control-file" name="imagen">
      </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Publicar</button>
      </div>
</form>
{% endblock %}