{% extends "index.html" %}

{% load static %}

{% block contenido %}
    <a class ="btn btn-primary" href="/AppProyectoFinal/create_blogs">Create</a>
    <h1>Publicaciones:</h1>
    <table class="table table-striped">
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Acciones</th>
        </tr>
        {% for blog in blogs %}
        <tr>
            <td>{{blog.titulo}}</td>
            <td>{{blog.autor}}</td>
            <td>
                <a class ="btn btn-pri  mary" href="/AppProyectoFinal/publicacion/{{blog.id}}">Leer Mas</a>
                <a class ="btn btn-primary" href="/AppProyectoFinal/update_blogs/{{blog.id}}">Update</a>
                <a class ="btn btn-primary" href="/AppProyectoFinal/delete_blogs/{{blog.id}}">Delete</a>

            </td>
        </tr>
        {% endfor %}
{% endblock %}

