{% extends "index.html" %}

{% load static %}
{% block contenido %}
<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
<form action = "" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <!-- <table>
        <tr>
            <td>titulo</td>
            <td><input type="text" name="titulo" value="{{blog.titulo}}"></td>
        </tr>
        <tr>
            <td>subtitulo</td>
            <td><input type="text" name="subtitulo" value="{{blog.subtitulo}}"></td>
        </tr>
        <tr>
            <td>cuerpo</td>
            <td><input type="text" name="cuerpo" value="{{blog.cuerpo}}"></td>
        </tr>
        <tr>
            <td>autor</td>
            <td><input type="text" name="autor" value="{{blog.autor}}"></td>
        </tr>
        <tr>
            <td>fecha</td>
            
            <td><p>{{blog.fecha}}</p><input type="date" name="fecha" value="{{blog.fecha}}"></td>
        </tr>
        <tr>
            <td>imagen</td>
            <td><img src="{{blog.imagen.url}}" alt="imagen" width="200" height="200"> <input type="file" name="imagen" value="{{blog.imagen.url}}"></td>
        <tr>
            <td><input type="submit" class="btn btn-primary btndj" value="Actualizar"></td>
        </tr>
    </table> -->
    <div class="form-group row">
        <label for="titulo" class="col-sm-2 col-form-label">Titulo</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="titulo" placeholder="Titulo" value="{{blog.titulo}}">
        </div>
      </div>
    <div class="form-group row">
        <label for="subtitulo" class="col-sm-2 col-form-label">Subtitulo</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" name="subtitulo" placeholder="subtitulo" value="{{blog.subtitulo}}">
      </div>
    </div>
    <div class="form-group row">
        <label for="contenido" class="col-sm-2 col-form-label">Contenido</label>
        <div class="col-sm-10">
        <textarea class="form-control" name="cuerpo" rows="3">{{blog.cuerpo}}</textarea>
      </div>
    </div>
    <div class="form-group row">
        <label for="autor" class="col-sm-2 col-form-label">Autor</label>
        <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" name="autor" placeholder="Autor" value="{{user.username}}" readonly>
      </div>        
    </div>
    <div class="form-group row">
        <label for="fecha" class="col-sm-2 col-form-label">Fecha</label>
        <div class="col-sm-10">
        <input type="date" class="form-control-date" name="fecha" value="{{blog.fecha}}">
      </div>
    <div class="form-group row">
        <label for="imagen" class="col-sm-2 col-form-label">Imagen</label>
        <div class="col-sm-10">
            <img src="{{blog.imagen.url}}" alt="imagen" height="200" width="200">
        <input type="file" class="form-control-file" name="imagen">
      </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Publicar</button>
      </div>
</form>
{% endblock %}